<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular.js"></script>
</head>

<body>
    <div ng-app="myApp">
        <div ng-controller="myCtrl">
            Rechercher
            <input type="text" ng-model="search" />

            <table>
                <thead>
                    <tr>
                        <th ng-click="tri('titre')">Titre</th>
                        <th ng-click="tri('texte')">Texte</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tmp in data | limitTo:offset | limitTo:-itemsPerpage | orderBy:coltosort:sens | filter:{'texte':search}">
                        <td>{{tmp.titre}}</td>
                        <td>{{tmp.texte}}</td>
                    </tr>
                </tbody>
            </table>
            <button ng-click="pagePrecedente()">Précédent</button>
            <button ng-click="pageSuivante()">Suivant</button>



        </div>

    </div>
    <script type="text/javascript">
        var app = angular.module('myApp', []);

        app.controller('myCtrl', function ($scope, lequipeService) {
            $scope.offset = 5;
            $scope.itemsPerpage = $scope.offset;
            $scope.sens = false;
            $scope.tri = function (coltosort) {
                $scope.coltosort = coltosort;
                $scope.sens = !$scope.sens;
            }
            $scope.pagePrecedente = function () {
                if ($scope.offset > $scope.itemsPerPage)
                    $scope.offset -= $scope.itemsPerPage;
            }
            $scope.pageSuivante = function () {
                $scope.offset += $scope.itemsPerPage;
            };

            console.log('Starting myCtrl');
            lequipeService.getData()
                .then(function (data) {
                    $scope.data = data.data.articles;
                })



        });

        app.service('lequipeService', function ($http) {
            this.getData = function () {
                return $http({
                    method: 'GET',
                    url: 'http://iphdata.lequipe.fr/iPhoneDatas/EFR/STD/ALL/V2/home.json'
                })
            }

        });
    </script>
</body>

</html>